<p id="notice"><%= notice %></p>

<h1>WYSIWIG demo pro D20</h1>

<ul>
  <% @messages.each do |message| %>
    <li>
      <div>
        <h3><%= message.title %></h3>
        <p><%= message.content %></p>
      </div>
    </li>
  <% end %>
</ul>

<br>

<%= form_with(model: @message, local: true) do |form| %>
  <% if @message.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@message.errors.count, "error") %> prohibited this message from being saved:</h2>

      <ul>
        <% @message.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :content %>
    <%= form.rich_text_area :content %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
